# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/*
.vscode/*
*.cbp

# CMake
cmake-build-debug/*
cmake-build-release/*
test/cmake-build-debug/*
test/cmake-build-release/*

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Make
Makefile
build/*
test/build_test/*

# gtest
*googletest*

# User profile
data/config/user/controls.j3x
data/config/user/graphics.j3x
data/config/user/sound.j3x
data/config/user/general.j3x
data/config/user/save.j3x
data/config/user/server.j3x
